Package         Version
--------------- -------
Django          3.1
Pillow          7.2.0
pip             20.2.2
pkg-resources   0.0.0
psycopg2        2.8.5
psycopg2-binary 2.8.5
setuptools      49.6.0
wheel           0.35.1
